*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

:root {
}
/* ///////////////////////////// */

.main-con {
  width: 100%;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
}

.header {
  text-align: center;
  font-size: 1rem;
}

.inner {
  display: flex;
  gap: 2rem;
}
.form-field {
  width: 50%;
}
.aside-con {
  width: 50%;
}
